:root {
  --rtc-primary-color: rgb(236, 236, 236);
  --rtc-secondary-color: #2bc5cd;
  --rtc-tertiary-color: #ff693d;

  --rtc-border: 2px solid var(--rtc-secondary-color);

  --rtc-cell-height-s: 12rem;
  --rtc-cell-height-m: 14rem;
  --rtc-cell-height-100: 100%;
  --rtc-cell-width-100: 100%;
  --rtc-min-width: 230px;

  --rtc-font-size-h1: 1rem;
  --rtc-font-size-h2: 1rem;
  --rtc-font-size-h3: 0.75rem;
  --rtc-font-size-p: 0.75rem;

  --rtc-margin-xs: 0.75rem;
  --rtc-margin-s: 1rem;
  --rtc-margin-m: 1.5rem;

  --rtc-padding: 1rem;
  --rtc-padding-bottom-xs: 0.75rem;
  --rtc-padding-bottom-s: 1.25rem;
  --rtc-padding-inner_button: 0.75rem;

  --rtc-spacing-desktop: 1rem;
  --rtc-spacing-mobile: 1.75rem;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--rtc-primary-color);
  display: grid;
  font-family: Arial, Helvetica, sans-serif;
  grid-gap: var(--rtc-spacing-mobile);
  justify-items: center;
  margin: var(--rtc-margin-xs);
  min-width: var(--rtc-min-width);
}

header {
  background-color: var(--rtc-secondary-color);
  display: grid;
  height: var(--rtc-cell-height-s);
  justify-items: center;
  padding: var(--rtc-spacing-mobile) 0;
}

p {
  font-size: var(--rtc-font-size-p);
  text-align: justify;
}

header > h1 {
  font-size: var(--rtc-font-size-h1);
  text-transform: uppercase;
}

header > h1,
header > p,
footer > h3,
footer > p {
  color: var(--rtc-primary-color);
}

header > p {
  padding: var(--rtc-spacing-mobile) var(--rtc-spacing-mobile) 0
    var(--rtc-spacing-mobile);
}

main {
  display: grid;
  align-items: center;
  border: var(--rtc-border);
  height: var(--rtc-cell-height-s);
  width: var(--rtc-cell-width-100);
}

main > h2 {
  color: var(--rtc-secondary-color);
  font-size: var(--rtc-font-size-h2);
  text-align: center;
  text-transform: uppercase;
}

footer {
  background-color: var(--rtc-tertiary-color);
  padding: var(--rtc-padding);
}

footer > h3 {
  font-size: var(--rtc-font-size-h3);
}

footer > h3,
footer > p {
  padding-bottom: var(--rtc-padding-bottom-xs);
}

footer > button {
  font-size: var(--rtc-font-size-p);
  padding: var(--rtc-padding-inner_button);
  text-align: center;
  text-transform: uppercase;
}

.school {
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/d8ce469044b958508f4bdbab/blueschoolbackpackwithessentialsupplies_232148207678.jpg);
}

.student {
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/9e4ce16148dd5cbeb1065410/89f80abe-6acd-d8dc-a341-3e571206975b.jpg);
}

.time {
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/773a5aa425b1502aaac14708/f2b45624-c8f6-3aa0-0ee4-58adda3c89b0.jpg);
}

.alumni {
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/89993ff69c3e5244ad2bf1ba/blondestudentgirlissmilingholdingfoldernotebookherhandsuniversitybackground_101969664.jpg);
}

.alumni,
.school,
.student,
.time {
  background-size: cover;
  height: var(--rtc-cell-height-s);
  width: var(--rtc-cell-width-100);
}

@media screen and (min-width: 333px) {
  body {
    margin: var(--rtc-margin-s);
  }

  header,
  main,
  .alumni,
  .school,
  .student,
  .time {
    height: var(--rtc-cell-height-m);
    max-width: var(--rtc-cell-width-mobile-max);
  }

  footer {
    height: var(--rtc-cell-height-s);
  }

  footer > h3,
  footer > p {
    padding-bottom: var(--rtc-padding-bottom-s);
  }
}

@media screen and (min-width: 540px) {
  body {
    grid-gap: var(--rtc-spacing-desktop);
    grid-template-areas: 'header school' 'student main' 'time alumni' 'footer footer';
    grid-template-columns: repeat(2, 1fr);
    margin: var(--rtc-margin-m);
  }

  header {
    grid-area: header;
  }

  main {
    grid-area: main;
  }

  footer {
    grid-area: footer;
    max-width: none;
  }

  .alumni {
    grid-area: alumni;
  }

  .school {
    grid-area: school;
  }

  .student {
    grid-area: student;
  }

  .time {
    grid-area: time;
  }
}

@media screen and (min-width: 850px) {
  body {
    grid-template-areas: 'header school student' 'header main time' 'alumni footer footer';
    grid-template-columns: repeat(3, 1fr);
  }

  header {
    height: var(--rtc-cell-width-100);
  }

  main > h2 {
    padding: 0 var(--rtc-padding);
  }

  footer {
    height: var(--rtc-cell-height-100);
  }
}

@media screen and (min-width: 1200px) {
  body {
    grid-template-areas: 'header school student time' 'header main main alumni' 'footer footer footer footer';
    grid-template-columns: repeat(4, 1fr);
  }

  main {
    height: var(--rtc-cell-width-100);
    max-width: none;
  }

  footer {
    height: var(--rtc-cell-height-s);
    width: var(--rtc-cell-width-100);
  }
}
